<h2>Choose Your Game Options, <%= current_user.username %> </h2>
<% @game.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %>
<%= form_for @game do |f| %>

<%= f.label :character %>
<%= f.collection_select :character_id, @characters, :id, :name %>

<%= f.label :environment %>
<%= f.collection_select :environment_id, @environments, :id, :name %>

<%= f.submit "I'm ready!"%>
<% end %>
<p>(Use the arrow keys to move around. Good luck!)</p>
