<h1>Good luck, <%= @game.user.username %></h1> 
<h1>this is game number <%= @game.user.games.length %> for you!</h1> 

<p><%= @game.character.name %> in <%= @game.environment.name %> at Level <%= @game.level %></p>
  <h4>Enemy Memes:</h4>
  <ul>
    <% @game.memes.each do |meme| %>
     <li><%= meme.name %></li>
     <img src="<%= meme.spritesheet %>">
    <% end %>
  </ul>




<h2 id="countdown-holder">Remaining Time: 30 secs</h2>

<script>
  <%= render partial: 'game.js.erb',
  locals: {
          user: @game.user,
          memes: @game.memes,
          character: @game.character,
          environment: @game.environment} %>
</script>
